extends ../layout

block content
	.page-header
		h3 Profile Information
		hr

	form.form-horizontal(action='/account/profile', method='POST')
		input(type='hidden', name='_csrf', value=_csrf)
		.form-group.row.justify-content-md-center
			label.col-sm-3.col-form-label.text-right.font-weight-bold(for='email') Email
			.col-sm-7
				input.form-control(type='email', name='email', id='email', value=user.email)
		.form-group.row.justify-content-md-center
			label.col-sm-3.col-form-label.text-right.font-weight-bold(for='username') Username
			.col-sm-7
				input.form-control(type='text', name='username', id='username', value=user.username)
		.form-group.row.justify-content-md-center
			label.col-sm-3.col-form-label.text-right.font-weight-bold(for='name') Name
			.col-sm-7
				input.form-control(type='text', name='name', id='name', value=user.profile.name)
		.form-group.row.justify-content-md-center
			label.col-sm-3.col-form-label.text-right.font-weight-bold(for='device') Device
			.col-sm-7
				label.form-control #{user.profile.device ? user.profile.device : "No Device Registered"}
		.form-group.row.justify-content-md-center
			label.col-sm-3.col-form-label.text-right.font-weight-bold 
				a(href="https://en.gravatar.com/", target="_blank") Gravatar
			.col-sm-7
				img(src=user.gravatar(), class='profile', width='100', height='100', alt=((user.profile.name || user.email || user.id)))
		.form-group.row.justify-content-md-center
			.col-sm-4
				button.btn.btn.btn-primary(type='submit')
					i.fa.fa-pencil
					| Update Profile

	.page-header
		h3 Manage Friends
		hr
	.form-horizontal
		each friend in user.friends
			form.form-group.row.justify-content-md-center(action=`/account/friend/delete/${friend._id}`, method="POST")
				.col-sm-3.text-right
					button.col-form-label.font-weight-bold.btn.btn-danger(type="submit")
						i.fa.fa-trash
						| Remove
				.col-sm-7
					#{friend}
					//- - var friend_username = friend.requester.username == user.username ? friend.recipient.username : friend.requester.username
					//- a.form-control(href="#") #{friend_username}

	form.form-horizontal(action='/account/friend', method='POST')
		input(type='hidden', name='_csrf', value=_csrf)
		.form-group.row.justify-content-md-center
			label.col-sm-3.col-form-label.text-right.font-weight-bold(for='friend') New Friend
			.col-sm-7
				input.form-control(type='text', name='friend', id='friend')
		.form-group.row.justify-content-md-center
			.col-sm-4
				button.btn.btn-primary(type='submit')
					i.fa.fa-user-plus
					| Add Friend


	.page-header
		h3 Change Password
		hr

	form.form-horizontal(action='/account/password', method='POST')
		input(type='hidden', name='_csrf', value=_csrf)
		.form-group.row.justify-content-md-center
			label.col-sm-3.col-form-label.text-right.font-weight-bold(for='password') New Password
			.col-sm-7
				input.form-control(type='password', name='password', id='password')
		.form-group.row.justify-content-md-center
			label.col-sm-3.col-form-label.text-right.font-weight-bold(for='confirmPassword') Confirm Password
			.col-sm-7
				input.form-control(type='password', name='confirmPassword', id='confirmPassword')
		.form-group.row.justify-content-md-center
			.col-sm-4
				button.btn.btn-primary(type='submit')
					i.fa.fa-lock
					| Change Password

	.page-header
		h3 Delete Account
		hr

	form.form-horizontal(action='/account/delete', method='POST')
		.form-group.row.justify-content-md-center
			p.offset-sm-3.col-sm-7 You can delete your account, but keep in mind this action is irreversible.
			input(type='hidden', name='_csrf', value=_csrf)
			.col-sm-4
				button.btn.btn-danger(type='submit')
					i.fa.fa-trash
					| Delete my account

