extends ../layout

block content
	h1 2D Gameplay
	.boards
		-var grid = 8;
		-var size = 50;
		.board-container(id="position-board")
			each y in [0, 1, 2, 3, 4, 5, 6, 7]
				each x in [0, 1, 2, 3, 4, 5, 6, 7]
					.grid-cell-clear(id="square"+(y*8+x) style="top:"+y*size +"px;left:"+x*size + "px")
			include boats/battleship_h.pug
			include boats/battleship_v.pug
			include boats/carrier_h.pug
			include boats/carrier_v.pug
			include boats/patrol_h.pug
			include boats/patrol_v.pug
			include boats/submarine_h.pug
			include boats/submarine_v.pug
		
		.board-container(id="attack-board")
			each y in [0, 1, 2, 3, 4, 5, 6, 7]
				each x in [0, 1, 2, 3, 4, 5, 6, 7]
					.grid-cell-clear(id="square"+(y*8+x+64) style="top:"+y*size +"px;left:"+x*size + "px" onclick="socket.sendMakeMove("+x+"," + y +")")

	h3 Gameplay Console
	.row.form-group(id="PositionShips")
		label.col-sm-2 Ready Up
		button.btn.col-sm-6(type="button",onclick='sendLocations()') Position Ships / Ready Up
	.row.form-group(id="InviteFriend")
		label.col-sm-2 Invite Friend
		select.form-select.col-sm-4(id="friend_list")
			option(disabled selected) Select Friend to Invite
			each friend in friendsList
				option(value=friend.username) #{friend.displayName}
		button.btn.col-sm-2(type="button", onclick='socket.sendGameInvite()') Send Invite
	//- //TODO: ADD BASIC GAMEPLAY FEATURES TO THE GAME
	//- .row.form-group(id="BasicMode")
	//- 	label.col-sm-2 Basic Mode
	//- 	button.btn.col-sm-6(type="button",onclick='socket.sendBasicMode()') Basic Game Mode
	.row.form-group(id="JoinGame")
		label.col-sm-2 Join Game
		select.form-select.col-sm-4(id="game_id")
			option(disabled selected) Select Game to Join
			each friend in friendsList
				option(value=friend.username) #{friend.displayName}
		button.btn.col-sm-2(type="button", onclick='socket.sendJoinGame()') Join Game
	.row.form-group(id="NewGame")
		label.col-sm-2 New Game
		button.btn.col-sm-6(type="button",onclick='socket.sendNewGame()') Create New Game
	


	link(rel='stylesheet',type="text/css", href='/css/game2D.css')
	script(src="/lib/TweenMax.min.js")
	script(src="/lib/Draggable.min.js")
	script(src="/js/GameVisuals2D.js")
	script(src="/js/BaseSocket.js")
	script(src="/js/GameSocket.js")
	script(src="/js/ShipPiece.js")

	script.

		const snap = 50;

		const ships = new ShipGamePieces(snap, [
			{
				tag: "patrol",
				len: 2,
			},
			{
				tag: "submarine",
				len: 3,
			},
			{
				tag: "battleship",
				len: 4,
			},
			{
				tag: "carrier",
				len: 5,
			},
		]);

		const socket = new GameSocket("#{user.username}", ships);
		
		function sendLocations() {
			socket.sendShipPositions(ships.getShipPositionList());
		}

	//- Comment here to fix Pug Lint Error